@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Bold.woff") format("woff"),
       url("../fonts/MyriadPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"),
       url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Light.woff") format("woff"),
       url("../fonts/MyriadPro-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Italic.woff") format("woff"),
       url("../fonts/MyriadPro-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}