.action {
  min-height: 288px;
  margin-bottom: 70px;
  background: #696a65 url("../img/action-bg.png");
  background-color: #696a65;
}

.action-block {
  position: absolute;
  left: 50%;
  top: -42px;
  z-index: 10;
  width: 970px;
  min-height: 350px;
  background-color: #3b3833;
  border-radius: 5px;
  transform: translateX(-50%);

  &:before {
    content: "";
    position: absolute;
    right: 0;
    top: -10px;
    width: 184px;
    height: 182px;
    background: url("../img/action-triangle.png") no-repeat;
    
  }
  &:after {
    content: "-50%";
    position: absolute;
    right: 20px;
    top: 45px;
    font-size: 45px;
    line-height: 25px;
    font-weight: 700;
    color: #fecc00;
    transform: rotate(45deg);
  }
}

.action-block__img {
  float: left;
  margin-right: 55px;
}

.action-block__info {
  float: left;
  padding-top: 30px;
}

.action-block__title {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fecc00;
}

.action-block__subtitle {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 25px;
  text-transform: uppercase;
  color: white;
}

.action-block__text {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  max-width: 400px;
  line-height: 22px;
  color: white;
}

.action-block__btn {
  max-width: 220px;
  padding: 10px 47px;
  margin-left: 5px;
  margin-right: 38px;
}

.action-block__deadline {
  position: relative;
  padding: 7px 0;
  padding-left: 45px;
  vertical-align: middle;
  color: #fecc00;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background: url("../img/time-icon.svg") no-repeat;
  }
}

.action-block__date {
  font-weight: 700;
  color: white;
}