.blog {
  padding-bottom: 25px;
  margin-bottom: 70px;
  border-bottom: 2px solid #fecc00;
}

.blog__title {
  width: 220px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}