.btn {
  max-width: 260px;
  padding: 10px 60px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fecc00;
  border-radius: 4px;
  box-sizing: border-box;

  &:hover {
    color: white;
    background-color: #898989;
  }

  &:active,
  &:focus {
    color: white;
    background-color: #5d5d5d;
  }

  &:disabled {
    color: #ded6d5;
    background-color: #f8f8f8;
  }
}

.btn-primary {
  max-width: 150px;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #5d5d5d;
  background-color: transparent;
  border: 2px solid #5d5d5d;
  border-radius: 2px;
  box-sizing: border-box;

  &:hover {
    color: white;
    background-color: #898989;
    border-color: #898989
  }

  &:active,
  &:focus {
    color: white;
    background-color: #5d5d5d;
    border-color: #5d5d5d;
  }

  &:disabled {
    color: #ded6d5;
    background-color: #f8f8f8;
    border-color: #f8f8f8;
  }
}