.main-menu__list {
  padding-top: 50px;
  padding-bottom: 25px;
}

.main-menu__item {
  margin-right: 10px;

  &--active {
    color: #3b3833;
    background-color: #fecc00;
    border-radius: 7px;
  }

  &--active>.main-menu__link {
    color: #3b3833;
  }
}

.main-menu__link {
  font-size: 18px;
  text-transform: uppercase;
  color: white;
}

//omg bootstrap :)
.main-menu__list>.main-menu__item>.main-menu__link {
  padding: 9px 17.5px;
  border-radius: 7px;
  &:hover,
  &:active,
  &:focus {
    color: #3b3833;
    background-color: #fecc00;
  }
}