.main-footer {
  min-height: 90px;
  padding: 30px 0;
  background-color: #dfe0e0;
}

.main-footer__socials {
  text-align: center;
}

.main-footer__icon {
  margin-right: 22px;
  fill: #6c6c6c;

  &:hover {
    fill: #fecc00;
  }

  &:active,
  &:focus {
    fill: #edaa29;
  }
}

.main-footer__author {
  position: relative;
  float: right;
  padding-left: 50px;
  margin-left: auto;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 41px;
    height: 31px;
    background: url("../img/wedes.png") no-repeat;
  }
}

.main-footer__author-title {
  display: block;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

.main-footer__author-name {
  display: block;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}