.menu-level-3 {
  padding: 30px;
  padding-left: 10px;
  color: #fecc00;
  background-color: #edeeee;
}

.menu-level-3__item {
  padding-left: 20px;
}

.menu-level-3__link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  color: #5d5d5d;
}
