.reviews {
  margin-bottom: 70px;
}

.reviews-control.left,
.reviews-control.right {
  top: 0;
  width: 5%;
  background-image: none;
  box-shadow: none;
  fill: #6c6c6c;
  
  &:hover{
    fill: #fecc00;
  }

  &:active,
  &:focus {
    fill: #edaa29;
  }
}

.reviews__item {
	text-align: center;
}

.reviews__text {
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	font-style: italic;
	font-size: 22px;
	font-weight: 400;
	line-height: 26px;
}

.carousel-inner {
  width: 86%;
  margin: 0 auto;
}