.reviews {
  margin-bottom: 70px;
}

.reviews-control.left,
.reviews-control.right {
  top: -20px;
  width: 5%;
  font-family: Times New Roman;
  font-size: 70px;
  line-height: 84px;
  color: #6c6c6c;
  background-image: none;
}

.reviews__item {
  text-align: center;
}