.services {
  margin-bottom: 75px;
}

.services__header {
  position: relative;
  padding-bottom: 32px;
  margin-bottom: 35px;

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 300px;
    height: 4px;
    background-color: #fecc00;
    transform: translateX(-50%);
  }
}

.services__title {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

.services__subtitle {
  padding: 0;
  margin: 0;
  font-size: 22px;
  text-align: center;
}

.services__cta {
  padding-top: 30px;
}

.services__text {
  padding-left: 100px;
  font-size: 20px;
  line-height: 24px;
}

.btnwrapper {
  text-align: center;
}

.services__btn {
  max-width: 300px;
  padding: 10px 85px;
}